{% extends 'base.html' %}

{% block meta %}
<title>Add Education - {{ name }}</title>
{% endblock meta %}

{% block content %}

<section class="education">
    <div class="container education-form-container">
        <p class="section-kicker">Add New Education</p>
        <h1>Add Education</h1>

        <form method="POST" class="education-form">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-add">
                Add Education
            </button>
        </form>
    </div>
</section>

{% endblock content %}