{% extends 'base.html' %}

{% block meta %}
<title>Experience - {{ name }}</title>
{% endblock meta %}

{% block content %}

<section class="experience" id="experience">
    <div class="container">
        <p class="section-kicker">My Journey So Far</p>
        <h1>Experience</h1>

        <a href="{% url 'main:add_experience' %}">Add Experience</a>

        <div class="experience-grid">
            {% for experience in experience_list %}
                <div class="experience-card">
                    <span class="experience-category">
                        {{ experience.category|title }}
                    </span>

                    <h3>{{ experience.title }}</h3>

                    <p>{{ experience.description }}</p>

                    <span class="experience-status">
                        {% if experience.is_ongoing %}
                            Ongoing
                        {% else %}
                            completed
                        {% endif %}
                    </span>
                    <a href="{% url 'main:update_experience' experience.id %}">
                        Update
                    </a>

                    <form method="POST" action="{% url 'main:delete_experience' experience.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </div>
            {% empty %}
                <p>Belum ada pengalaman yang ditambahkan.</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}